<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:group {"align":"wide","className":"page-head","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide page-head"><!-- wp:post-title {"level":1} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","className":"section-row","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide section-row"><!-- wp:post-date {"className":"aside-date"} /-->

<!-- wp:group {"className":"row-content","layout":{"type":"default"}} -->
<div class="wp-block-group row-content"><!-- wp:post-featured-image /-->

<!-- wp:post-content {"className":"entry","layout":{"type":"default"}} /-->

<!-- wp:post-terms {"term":"post_tag","separator":", ","className":"stack"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
